/* PROGRESS_BAR */
/*  The progress bar contains :
    first column
    inner columns
    last column

    each column contains:
    Top row
    Main row
    Bottom row

    each column it has 3 states
    default
    active
    complete
*/

.progress_bar{
  //progress_bar container
  .progress_bar__container {
    display: flex;
    margin: 20px 20px 20px 20px;

    //default column
    .progress_bar_column{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-align: center;

      //default top row
      .progress_bar__top_box {
        height: 50px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      //default main row
      .progress_bar__main_box {
        height: 50px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        //default line
        .progress_bar__line {
          flex-grow: 1;
          height: 3px;
          background-color: #f0f3f5; //$progress-bg
        }

        //default style of circle
        .progress_bar__circle {
          height: 20px;
          width: 20px;
          border: 2px solid #ffffff;
          box-sizing: border-box;
          box-shadow: 0 2px 4px 0 #A4B7C1;
          border-radius: 50%;
          background-color: #C2CFD6;
          i{
            display: none;
          }
        }

        //default style of grafuation shape
        .progress_bar__graduation {
          color: #c2cfd63d;
          font-size: 46px;
        }

        //default container of small circles
        .progress_bar__small_circle_box {
          padding-left: 5px;
          padding-right: 5px;
          width: 60px;
          height: 25px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          //default style of small circles
          .progress_bar__small_circle {
            height: 12px;
            width: 12px;
            background-color: #bbb;
            border-radius: 50%;
          }
        }
      }

      //default bottom row
      .progress_bar__bottom_box {
        height: 50px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h6 {
          font-size: 20px;
        }
      }
    }


    //first column
    .progress_bar__first_column {
      display: flex;
      flex-direction: column;
      flex-grow: inherit;
      width: 180px;

      //first column top row
      .progress_bar__top_box {

      }

      //first column main row
      .progress_bar__main_box {

      }

      //first column bottom row
      .progress_bar__bottom_box {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    //last column
    .progress_bar__last_column{
      display: flex;
      flex-direction: column;
      flex-grow: inherit;
      width: 180px;

      //last column top row
      .progress_bar__top_box {
      }

      //last column main row
      .progress_bar__main_box {

      }

      //last column bottom row
      .progress_bar__bottom_box {

      }
    }

    //active column
    .progress_bar_column.active {
      //active graduation
      .progress_bar__graduation {
        color: #c2cfd6 !important
      }
      //active top row
      .progress_bar__top_box h5 {
        display: block;
      }

      .progress_bar__line.first,
      .progress_bar__circle{
        background-color: #664BF1 !important;
      }
    }

    //complete column
    .progress_bar_column.complete{
      .progress_bar__main_box{

        .progress_bar__circle,
        .progress_bar__line{
          background-color: #664BF1;
        }

        .progress_bar__circle i{
          display: block;
        }

        .progress_bar__circle {
          color: #fff;
          font-size: 9px;
          text-align: center;
          padding-top: 4px;
          margin: auto;
        }

        .progress_bar__graduation i {
          color: #664BF1 !important;
        }
      }

      .progress_bar__small_circle_box{
        .progress_bar__small_circle{
          background-color: #664BF1 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .progress_bar{
    .progress_bar__container {
      .progress_bar__first_column {
        width: inherit;
      }
      .progress_bar__last_column {
        width: inherit;
      }
    }
  }
}






