<div class="card">
  <div class="msgbox_main-container">
    <div class="msgbox_icon">
      <span class="fa-4x far {{icon}}" style="color:#678898;"></span>
    </div>
    <div class="msgbox_details">
      <div class="font msgbox_item" id="message">{{message}}</div>
      <div class="msgbox_item" *ngIf="extraMessage && !extraMessage.includes('extraMessage')">{{extraMessage}}</div>
      <div>
        <div class="msgbox_item" *ngIf="actionButton && !actionButton.includes('actionButton')">
          <button type="button" class="btn s--btn btn-success" [disabled]="disableBut" (click)="clicked()">{{actionButton}}</button>
        </div>
        <div class="msgbox_item" *ngIf="actionText && !actionText.includes('actionText')" id="text">
          <span><span class="fa-1x icon-arrow-right"></span>{{actionText}}</span>
        </div>
      </div>
    </div>
  </div>
</div>